@import "font";

body, html {
  font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
}

:root {
  --primary: #FF963C;
  --secondary: #FFCC21;
  --gray: #414141;
}

.container {
  max-width: 975px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
